nimcache/
nimblecache/
htmldocs/
testresults/

*.o
!/icons/*.o
*.obj
*.ilk
*.exp
*.pdb
*.lib
*.dll
*.exe
*.so
*.dylib
*.zip
*.iss
*.log
*.pdb

oc/html/
doc/*.html
doc/*.pdf
doc/*.idx
/web/upload
/build/*
bin/*

/*.html
outputGotten.txt
tests/megatest.nim
outputExpected.txt
